

* {
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
#box {
	width: 100%;
	height: 100vh;
	background: url(../img/bg.jpg);
	background-size: 100%;
	background-position-y: 0%;  /* 先将图片挪动到顶部，以便于能够往下落 */
}
#fly{
	width:98px;
	height:122px;
	background: url(../img/me.png);
	background-size: 100%;
	position: absolute;left:48%;bottom: 0px;
}
.bullet{
	width:7px;
	height:18px;
	background: url(../img/bullet.png);
	background-size: 100%;
	position: absolute;
}
.diji {
	width: 70px;
	height: 92px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/plain2.png);
}

.bigdiji {
	width: 165px;
	height: 256px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/plain3.png);
}

.middiji {
	width: 70px;
	height: 92px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/plain2.png);
}

.smalldiji {
	width: 59px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/plain1.png);
}